# Vivado project files
elech409_project.xpr
elech409_project.cache/
elech409_project.data/
elech409_project.runs/
elech409_project.srcs/
elech409_project.hw/
elech409_project.sim/
elech409_project.bd/
elech409_project.sdk/
elech409_project.tcl
elech409_project.log
elech409_project.jou
elech409_project.str
elech409_project.dcp
elech409_project.bit
elech409_project.bin
elech409_project.ltx
elech409_project.html
elech409_project.xml
elech409_project.rpt
elech409_project.csv
elech409_project.txt
elech409_project.zip
elech409_project.tar.gz
elech409_project.tar
elech409_project.gz
elech409_project.swp
elech409_project.swo
elech409_project.bak
elech409_project.backup
elech409_project.~lock.elech409_project


# Vivado project files
display/display.xpr
display/display.cache/
display/display.data/
display/display.runs/
display/display.srcs/
display/display.hw/
display/display.sim/
display/display.bd/
display/display.sdk/
display/display.tcl
display/display.log
display/display.jou
display/display.str
display/display.dcp
display/display.bit
display/display.bin
display/display.ltx
display/display.html
display/display.xml
display/display.rpt
display/display.csv
display/display.txt
display/display.zip
display/display.tar.gz
display/display.tar
display/display.gz
display/display.swp
display/display.swo
display/display.bak
display/display.backup
display/display.~lock.elech409_project
