# Vivado project files
*.xpr
*.cache/
*.data/
*.runs/
*.srcs/
*.hw/
*.sim/
*.bd/
*.sdk/
*.tcl
*.log
*.jou
*.str
*.dcp
*.bit
*.bin
*.ltx
*.html
*.xml
*.rpt
*.csv
*.txt
*.zip
*.tar.gz
*.tar
*.gz
*.swp
*.swo
*.bak
*.backup
*.~lock.*
